
html {
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.en {
  font-family: "Campton Bold DEMO", "Spoqa Han Sans", sans-serif;
}

.el-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2F313E;
}

.thumb {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
}

.height-full {
  min-height: 100vh;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
