
.el-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2F313E;
}

.thumb {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
}

.height-full {
  min-height: 100vh;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
